/* We started with the Reset ----------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; font-size: 100%; font-weight: inherit; font-style: normal; font-family: Roboto; vertical-align: baseline; background: transparent; border: 0; outline: 0; }
/* HTML5 Reset for older browsers */
article, aside, figure, figure img, hgroup, footer, header, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
input, select { vertical-align: middle; }
a img { border: 0; }
:focus { outline: 0; }
a:hover, a:active { outline: none; }
/* General styles of use
----------------------------------------------- */

img, embed, object, video { max-width: 100%; }
.hide { display: none; }
.clear { clear: both; }
body { color: #333; background: #C8C7B3; /*   #E9EAED*/ -webkit-text-size-adjust: 100%; font-family: verdana, arial, sans-serif; font-size:12px; width:100%; height:100%; overflow-x:hidden; }
hr { color: #FFF; background-color:#DEE0E3; height: 1px; border: 0; margin: 0 auto; text-align: center; }
hr.blue { background-color:#D2DADF; }
hr.grey { background-color: #EBEBEB }
.sh { float:none; clear:both; font-size:0px; line-height:0px; }
.fleft { position:relative; float:left; }
.fright { position:relative; float:right; }
.visible { display: block; }
.hand { cursor:pointer !important; }
.undecorated { text-decoration:none; }
.centered { text-align:center; }
.bold { font-weight:bold; }
.justified { text-align:justify; }
.italica { font-style:italic !important; }
.pull-right{ float:right}
.pull-left{ float:left}
/*----------*/
/******* input *******/

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
 input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
 height: auto;
}
 .form-control:-moz-placeholder {
 color: #999999;
}
 .form-control::-moz-placeholder {
 color: #999999;
}
 .form-control:-ms-input-placeholder {
 color: #999999;
}
 .form-control::-webkit-input-placeholder {
 color: #999999;
}

/*-----------*/
#wrapper { width:100%; height:100%; }
#container {/* min-width: 980px;*/ height: 100%; min-height: 100%; margin: 0 auto; }


 .form-nrml { width:60%; margin:0 20%; border:2px solid #d5d5d5; font:14px Arial, Helvetica, sans-serif }
.row { display:table; padding:1%; border:1px solid #f5f5f5; width:98% }
.labeltxt { width:25%; display:table-cell; text-align:left }
.fieldtxt { width:73%; display:table-cell; text-align:left }
.inputfield { width:94%; padding:5px 10px; display:inline-block; border:1px solid #ddd; border-radius:3px }
 @media only screen and (max-width: 800px) {
.row {
width:90%
}
}
