@media (max-width:5000px) {
.prof-reg .top-div span.btn.btn-success.btn-file {
min-width:254px
}
.ryt.sub {
 float:right !important;
width:48% !important;
}
}
@media (max-width: 1264px) {
 .top-frm {
width: 100%;
}
 .inner-cont .form-inn-cont2 {
width:65%;
}
 .inner-cont.btm.prof-cont {
padding-left:10px;
}
 .form-inn-cont2.prof-reg {
width:100%;
}
 .prof-reg .top-div .ryt {
float: right;
margin-left: 0;
/*width: 70%;*/
}
 .prof-reg .bottom-div h3 {
width:41%;
text-align:center;
}
 .header .hdr-img-lft {
position:absolute;
height:100%;
}
 .caregiver-routine .midsd .content-cont.nw-evnt .new-evnt-cont .fieldset {
width:80%;
}
 .col-lg-4.col-md-4.pull-left.user-profile {
background: rgba(256, 256, 256, 0.5);
float: right !important;
margin-top: 5px;
padding-bottom: 9px;
width: 50%;
}
 h3.nob {
border: 0 none !important;
width:100% !important;
}
 .qrcode-div {
text-align:center;
width:100%;
margin-top:20px;
}
 .login-hm-cont .leftsd .hdr-txt h2 {
font-size:13px;
}
 .pat-list ul li .pat-desc-cont {
width:58%;
}
 .crgvr-ryt button.btn.btn-danger.back-btn {
width:77%;
}
 .caregiver-routine .pat-dp {
width:100%;
}
 .caregiver-routine .pat-dp img {
width:100%;
}
 .caregiver-routine .midsd .menu-cont ul li {
margin-right:4px;
}
 .caregiver-routine.professional .midsd .menu-cont ul li {
margin-right: 30px;
}
 .login-hm-cont .leftsd .hdr-txt h2 span.icn {
right:12px;
}
 .add-new-drugbtn button.btn.btn-success {
font-size:12px;
}
 .drug-tab .drug-tab-btm label {
font-size:12px;
}
 .drug-tab span.opt {
font-size:11px;
}
 .drug-tab-btm .field-cont span.txt {
font-size:11px;
}
 .drug-tab .radio-btn span.txt {
font-size:13px;
}
 .drug-tab-btm ul li span.txt {
font-size:13px;
width:68%;
}
 .reint-drug .reint-cont {
padding:0;
}
 .col-md-6.maint-cont {
width: 100%;
}
 .col-md-6.dow-cont {
width: 100%;
}
 .diet-cont button.btn.btn-success.back-btn {
width:110px;
}
 .col-md-10.col-lg-10.typology-cont {
width:100%;
}
 .col-md-10.col-lg-10.typology-cont-btm {
width:100%;
}
 .patient-data-ryt .fieldset label {
width:22%;
}
 .patient-data-ryt input[type="text"] {
width:28%;
}
 .col-md-5.time-table.no-padding.pull-right {
float: none !important;
margin: auto !important;
width: 65%;
}
 .col-md-7.no-padding.pull-left.doc-det {
width: 100%;
}
 .prof-card-top h3 {
float:none;
}
 .new-rep-cont ul li span.txt {
width:77%;
}
 .caregiver-routine .canvas-cont {
margin: 20px auto 0;
width: 98%;
}
 .caregiver-routine .midsd .content-cont .circ-cont {
right: 40px;
top: 120px;
}
 .pat-desc-cont .icns a {
margin-right:10px;
}
}
@media (max-width:1200px) {
.new-activity-cont .col-md-12.col-lg-12 .col-lg-2 label, .new-activity-cont .col-md-12.col-lg-12 .col-lg-1 label {
display: block;
margin-bottom: 20px;
}
.new-activity-cont .col-lg-2.lbl {
float: left;
width: 20%;
}
.new-activity-cont .col-lg-7.inp {
float: left;
width: 40%;
}
.new-activity-cont .col-lg-3.inp2 {
float: left;
width: 40%;
}
.new-activity-cont .col-lg-6.hlp {
float: left;
width: 70%;
}
.new-activity-cont .col-lg-7.inp-full {
float: left;
width: 80%;
}
.new-activity-cont .col-lg-2.inp3 {
float: left;
}
.new-activity-cont .col-lg-1.lbl2 {
float: left;
}
.new-activity-cont .col-lg-4.inp-url {
float: left;
width: 48%;
}
.typology-cont .col-lg-2 label {
display: block;
margin-bottom: 20px;
}
 .typology-cont-btm .col-lg-2 label {
display: block;
margin-bottom: 20px;
text-align:center
}
.typology-cont .input-group {
margin-bottom: 20px;
}
.typology-cont-btm .input-group {
margin-bottom: 20px;
}
}
@media (min-width: 1000px) {
.inner-cont .form-inn-cont {
width: 50% !important;
}
}
@media (max-width:1100px) {
 .caregiver-routine .midsd .content-cont .circ-cont .schedule-cont {
width:60%
}
 .caregiver-routine .midsd .content-cont .circ-cont {
right: 40px;
top: 120px;
}
 .list-r {
width:90%
}
 .caregiver .crgvr-lft .text-right {
text-align:center
}
 .caregiver .crgvr-ryt {
text-align:center !important
}
 .frm-cont textarea, input[type="text"], input[type="email"], input[type="password"] {
height:40px
}
 .typology-cont .col-lg-2 label {
display: block;
margin-bottom: 20px;
}
 .typology-cont-btm .col-lg-2 label {
display: block;
margin-bottom: 20px;
text-align:center
}
.typology-cont .input-group {
margin-bottom: 20px;
}
.typology-cont-btm .input-group {
margin-bottom: 20px;
}
}
@media (min-width: 992px) {
 .creatacc {
margin: 0 auto;
width:60%;
}
 h3.tophdr, h3.tophdr.small {
text-align:center !important
}
 .caregiver-routine .midsd .content-cont.nw-evnt.drugs .drugs-btm1 {
display:none;
}
}
@media (max-width:992px) {
.btn-select {
margin-bottom:10px;
}
 .list-r {
width:82%
}
 .bootstrap-select > .btn {
padding:7px 12px !important
}
 .mid-btm .frm-cont {
float: left;
width: 70%;
padding-right:0px;
}
 .logo {
width:50%
}
 .col-md-3.col-lg-3.leftsd {
float: left;
width: 100%;
position:relative;
z-index:999;
}
 .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
display:inline-block;
}
 .crgvr-ryt button.btn.btn-danger.back-btn {
width:55%;
}
 .login-hm-cont .leftsd .hdr-txt h2 {
font-size:18px;
}
 .pat-list ul li .pat-desc-cont {
width:65%;
}
 .header .hdr-img-lft {
position:relative;
}
 .banner-cont {
background-size:cover;
}
 .header .logo-cont {
text-align: center;
width: 100%;
}
 .vid {
float: left;
width: 100%;
}
 .mid-cont .vid-cont {
margin-top:40px;
}
 .mid-btm .ryt-content-cont {
margin-top:40px;
}
 .form-cont {
background: rgba(255, 255, 255, 0.8);
}
 .top-frm {
width: 100%;
}
 .inner-cont .form-inn-cont2 {
/*margin-top: 10px;*/
width:75%;
}
 .success-cont {
width:90%;
}
 .prof-reg .top-div .ryt {
width:100%;
}
 .prof-reg .bottom-div h3 {
/*font-size: 28px;*/
text-align: center;
width: auto;
margin: 0 auto;
margin-bottom: 30px;
}
 .col-lg-4.col-md-4.pull-left.user-profile {
background:none;
float:none !important;
margin: 5px auto 20px;
padding-bottom:0;
width:60%;
position:relative;
left:30px;
}
 .user-name.pull-left {
margin-left: -1%;
margin-top: 6%;
width: 77%;
}
 .user-img.pull-left {
margin-top:2%;
}
 .upgrd-lic {
float: left;
margin-top: 20px;
padding-right: 0;
text-align: center;
width: 100%;
}
 .upgrd-lic .btn-success {
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
-ms-border-radius: 5px;
}
 .caregiver-routine .pat-dp img {
width:162px;
}
 .caregiver-routine .midsd .menu-cont ul li {
margin-right:32px;
}
 .caregiver-routine .pat-desc {
text-align:center;
}
 .caregiver-routine .pat-desc ul li {
float:left;
margin-right:50px;
}
 .caregiver-routine .pat-desc ul li:last-child {
margin-right:0;
}
 .login-hm-cont .leftsd .hdr-txt h2 span.icn {
right:12px;
}
 .caregiver-routine .midsd .content-cont.nw-evnt .new-evnt-cont .fieldset {
width:60%;
}
 .new-evnt-cont .fieldset .btn-group.bootstrap-select {
width:55% !important;
}
 .add-new-drugbtn button.btn.btn-success {
font-size:14px;
}
 .caregiver-routine .midsd .content-cont.nw-evnt.drugs .add-drug .srch-btn button.btn.btn-success {
width:100%;
}
 .drug-tab .drug-tab-btm label {
font-size:18px;
}
 .drug-tab span.opt {
font-size:13px;
}
 .drug-tab-btm .field-cont span.txt {
font-size:13px;
}
 .drug-tab-top .col-md-6.pull-left, .drug-tab-top .col-md-6.pull-right {
width: 50%;
}
 .drug-tab-btm ul li span.txt {
font-size: 14px;
width: 82%;
}
 .drug-tab .radio-btn span.txt {
font-size:18px;
}
 .reint-cont .drug-tab-btm .field-cont input[type="text"] {
width:90%;
}
 .col-md-6.pull-right.reint-meal-cont {
width: 100%;
}
 .col-md-5.pull-left.reint-datetm-cont {
width: 100%;
}
 .col-md-6.maint-cont {
width: 50%;
float:left;
}
 .col-md-6.dow-cont {
width: 50%;
float:left;
}
 .diet-cont button.btn.btn-success.back-btn {
width:120px;
}
 .caregiver-routine .midsd .content-cont.nw-evnt.drugs .drugs-btm1 {
display:block;
}
 .caregiver-routine .midsd .content-cont.nw-evnt.drugs .drugs-btm {
display:none;
}
 .col-md-5.patient-data-lft.no-padding.pull-left {
float: left;
width: 100%;
}
 .col-md-7.patient-data-ryt.no-padding.pull-left {
float: left;
margin-top: 20px;
width: 100%;
}
 .patient-data-lft .fieldset {
float: left;
width: 100%;
}
 .patient-data-ryt input[type="text"] {
width: 38%;
}
 .col-md-7.no-padding.pull-left.doc-det {
width: 50%;
}
 .col-md-5.time-table.no-padding.pull-right {
float: right !important;
margin: auto !important;
width: 50%;
}
 .prof-card-top h3 {
float: none;
/*font-size: 16px;*/
}
 .prof-card-top .doc-det h4, .prof-card-top p {
font-size: 14px;
margin-top: 0;
text-align: left;
}
 .col-md-4.view-cv.no-padding {
float: left;
width: 30%;
}
 .col-md-4.snd-msg {
float: left;
width: 40%;
}
 .col-md-4.view-area.no-padding {
float: left;
width: 28%;
}
 .new-rep-cont ul {
margin-top:4%;
}
 .report .col-md-3.chkbox-cont {
float: left;
width: 50%;
}
 .report .col-md-5.pull-right.prd-cont {
width: 50%;
}
 .col-md-5.pull-right.prd-cont2 {
width: 100%;
}
 .report .prd-cont2 .crt-rep .btn-group.bootstrap-select {
width:100% !important;
}
 .caregiver-routine .canvas-cont {
margin: 30px auto 0px;
width: 80%;
}
 .caregiver-routine .midsd .content-cont .circ-cont {
top: 140px;
right: 56px;
}
 .pat-desc-cont .icns a {
margin-right:20px;
}
 .professional .col-md-9.table-cont {
float:left;
width:100%;
padding:0;
}
 .caregiver-routine.professional .midsd .menu-cont ul li {
margin-right: 64px;
}
}
@media (min-width:850px) {
 .container .inner-cont {
width:60%;
margin:30px auto
}
.inner-cont .form-inn-cont {
width: 60%;
}
}
/* for ipad  landscape*/
@media (min-width:769px) {
 .container .inner-cont.prof-cont {
width:75%;
margin:30px auto
}
.form-inn-cont2.prof-reg {
width:95%
}
.inner-cont .form-inn-cont {
width: 70%;
}
 .container .inner-cont {
width:75%;
margin:30px auto
}
}
@media (max-width:768px) {
 .btn {
margin-bottom:10px
}
 .btn.dropdown-toggle {
margin-bottom:0 !important
}
 .row-new {
margin-left: -15px;
margin-right: -15px;
}
 .no-padding-l {
padding-left:15px !important
}
.no-padding-r {
padding-right:15px !important
}
 .fileinput.fileinput-new {
width:254px;
}
 .prof-cont .prof-reg .top-div .lft {
width:46.6%
}
 .prof-reg .ryt .fieldset {
margin-bottom:0
}
 .crgvr-lft label {
width:100%
}
.crgvr-lft input[type="text"], .crgvr-lft input[type="email"] {
width:100%
}
.crgvr-lft .btn-group.bootstrap-select {
width:100% !important
}
 h3.tophdr, h3.tophdr.small {
text-align: left;
font-weight: normal;
/*font-size: 20px;*/
color: #fff;
margin: 0;
padding: 0;
font-weight: bold;
vertical-align: middle;
line-height: 44px;
}
 .container .inner-cont.btm.prof-cont {
width:80%;
margin:20px auto
}
 .container .inner-cont {
width:65%;
margin:30px auto
}
 .inner-cont .form-inn-cont2, .inner-cont .form-inn-cont {
width:95%
}
 .logo {
width:40%
}
 .nav > li {
border-bottom:1px solid #d9e7d9;
}
/*	.container-fluid > .navbar-header{border-bottom: 1px solid #159600;}
*/	h3.hdr {
/*font-size:24px;*/
}
 .inner-cont .reg2-select label {
font-size:16px;
}
 .reg2-select .fieldset {
margin-bottom:30px;
}
 .bottom-div .fieldset.span2 {
padding-left: 0;
}
 .col-md-4.col-sm-4.col-xsm-4.drug-name {
float: left;
width: 30%;
}
 .col-md-4.col-sm-4.col-xsm-4.drug-residual {
float: left;
width: 30%;
}
 .table-responsive {
border:none;
}
 .table > tbody > tr {
border-left: 1px solid #015f00;
border-right: 1px solid #015f00;
}
 .new-drug .tabs-cont .drug-tab-top {
float: left;
margin-bottom: 20px;
padding: 0;
width: 100%;
}
 .drug-tab-btm .field-cont input[type="text"] {
float: left;
width: 90%;
}
 .drug-tab-btm .field-cont input[type="text"] {
float: left;
width: 100%;
}
 .drug-tab-btm .field-cont span.txt {
margin-top:14px;
}
 .drug-tab-btm ul li {
float:left;
}
.field-cont input.input-small {
width: 70% !important;
vertical-align: middle;
}
}
@media (min-width:740px) {
 .main-title {
width:60%;
margin:0 auto;
text-align:center;
font-weight:400 !important;
font-size:20px !important
}


	/*.ban-form{ width:80%}*/
 .menu-btn {
display:none;
}
 #cbp-spmenu-s1 {
display:none;
}
}
@media (min-width:540px) {
 .hdrc {
width:auto;
display:table;
margin:10px auto 30px;
}
}
@media (max-width:740px) {
 .prof-cont .prof-reg .top-div .lft {
float:none;
width:100%
}
 .lft .fileinput {
display:table
}
 .ryt.sub {
float:left;
width:100% !important;
}
 .main-title h2 {
/*font-size: 22px;*/
}
 .nav {
width:99%;
}
 .caregiver-routine .midsd .menu-cont {
display:none;
}
 .menu-btn {
display:block;
float:right;
position:relative;
z-index:9999;
width:100%;
}
 .menu-btn.active {
width:40%;
}
 .caregiver-routine .pat-desc ul li {
margin-bottom: 30px;
margin-right: 0px;
width:30%;
}
 .caregiver-routine .pat-desc ul {
list-style: outside none none;
margin: auto;
padding: 0;
width: 80%;
}
 .caregiver-routine .pat-desc ul li._path {
margin-right: 14px !important;
}
 .col-md-6.maint-cont {
float: none;
margin: auto;
width: 60%;
}
 .col-md-6.dow-cont {
width: 100%;
float:left;
}
 .diet-cont button.btn.btn-success.back-btn {
width:120px;
}
 .patient-data-ryt .fieldset label {
text-align: left;
width: 100%;
}
 .patient-data-ryt input[type="text"] {
margin-left: 0;
margin-right: 0;
width: 100%;
}
 .col-md-7.no-padding.pull-left.doc-det {
width: 100%;
position:relative;
z-index:99;
margin-bottom:20px;
}
 .prof-card-top h3 {
float: none;
/*font-size: 26px;*/
}
 .prof-card-top .doc-det h4 {
font-size:18px;
}
 .col-md-5.time-table.no-padding.pull-right {
float: none !important;
margin: auto !important;
width: 50%;
}
}
@media (max-width: 700px) {
 .drug-tab span.add-on {
top:4px
}
 .col1 {
display: table-row;
width: 100%;
text-align: left;
}
.col2 {
display: table-row;
width: 100%;
text-align: left;
}
 .midsd.womega {
margin:0;
padding:0
}
 .caregiver-routine .midsd .content-cont .circ-cont .schedule-cont {
width:100%
}
.actionbtns {
top:20%
}
 .schedule-cont-row {
display: table;
background-color: #fff;
width: 100%;
padding: 10px 10px 10px 15px;
border-bottom:1px solid #f0f9f0
}
 .schedule-cont-row:hover, .schedule-cont-row:hover a {
background-color:#f0fdf0;
text-decoration:none
}
.caregiver-routine .midsd .content-cont .circ-cont {
width: 100%;
margin: 10px auto;
position:static;
 top: 150px;
}
 .editicon {
position: absolute;
right: 15px;
margin-top: -6px;
}
.schedule-cont-row p {
margin-bottom:5px;
font-size:16px
}
 .caregiver-routine .midsd .content-cont .circ-cont .schedule-cont .ryt-syd {
display: table-row;
width: 100%;
text-align: left;
padding-left: 0;
}
 .caregiver-routine .midsd .content-cont .circ-cont .schedule-cont .lft-syd {
display: table-cell;
width: 100%;
text-align: left;
}
.caregiver-routine .midsd .content-cont .circ-cont .schedule-cont .lft-syd p {
font-weight: bold;
}
 .caregiver-routine .canvas-cont {
display:none;
}
 .prof-reg label {
font-size: 15px;
font-weight: bold;
}
 .prof-reg .bottom-div h3 {
width:47%;
}
}
@media (max-width: 670px) {
 .inner-cont .reg2-select label {
font-size: 16px;
margin-bottom: 10px;
text-align: center;
width: 100%;
}
 .reg2-select .btn-group.bootstrap-select {
margin-bottom: 20px;
width: 100% !important;
}
 span.amt {
color: #159600;
display: block;
font-size: 12px;
text-align: center;
width: 100%;
}
 .cons .reg2-select label {
font-size: 16px;
margin-bottom: 10px;
text-align: center;
width: 100%;
}
 .cons .reg2-select .fieldset input[type="text"] {
float: right;
width: 100%;
}
 .cons .col-md-5.pull-left.btn.no-padding {
text-align: center;
}
 .caregiver-routine .canvas-cont {
margin: 10px auto 0;
width: 98%;
}
 .caregiver-routine .midsd .content-cont .circ-cont {
right: 40px;
top: 160px;
}
 .col-lg-4.col-md-4.pull-left.user-profile {
left:10px;
}
}
@media (max-width: 630px) {
 .container .inner-cont {
width: 80%;
margin: 30px auto;
}
 .inner-cont.top {
text-align: center;
}
 .nmber span.txt {
font-size:20px;
}
 .nmber span.badge {
font-size:18px;
height:35px;
width:35px;
}
 .inner-cont.top .btn-group.bootstrap-select {
/*margin-top: 20px;*/
width: 100% !important;
}
 .success-cont p {
font-size:20px;
}
 .success-cont span.green-txt {
font-size:20px;
}
 .drug-tab-top .col-md-6.pull-left, .drug-tab-top .col-md-6.pull-right {
width: 100%;
}
 .diet-cont button.btn.btn-success.back-btn {
float: left;
margin-bottom: 20px;
width: 100%;
}
 .col-md-6.maint-cont {
float: left;
margin: auto;
width: 100%;
}
 .col-md-4.view-cv.no-padding {
float: left;
margin-bottom: 20px;
text-align: center;
width: 100%;
}
 .col-md-4.snd-msg {
float: left;
margin-bottom: 20px;
width: 100%;
}
 .col-md-4.view-area.no-padding {
float: left;
text-align: center;
width: 100%;
}
 .col-md-5.time-table.no-padding.pull-right {
width:60%;
}
}
@media (max-width: 600px) {
 .form-cont .fieldset .lft {
width:100%
}
 .form-cont .fieldset .ryt {
width:100%
}
 .form-cont .input-group {
margin-bottom:20px;
}
 .form-cont .ryt .input-group {
margin-bottom: 0;
}
 .ban-form {/*margin-top:100px;*/
}
 .ban-form h2 {
/*font-size:22px;*/
}
 body {
overflow-x:hidden;
}
 .col-lg-4.col-md-4.pull-left.user-profile {
width:100%;
float:left !important;
margin: 5px 0 0 60px;
}
 .new-activity-cont .col-lg-4.inp-url {
float: right;
width: 42%;
}
 .caregiver-routine .midsd .comment-cont textarea {
width:100%;
}
}
@media (max-width: 560px) {
 h3.tophdr, h3.tophdr.small {
text-align: left;
font-weight: normal;
font-size: 16px;
color: #fff;
margin: 0;
padding: 0;
font-weight: bold;
vertical-align: middle;
line-height: 48px;
}
 h3.tophdr.small {
text-align: left;
font-weight: normal;
font-size: 15px;
color: #fff;
margin: 0;
padding: 0;
font-weight: bold;
vertical-align: middle;
line-height: 48px;
}
 .mid-btm .frm-cont {
float: left;
width: 100%;
padding-right:0px;
}
 .caregiver-routine .midsd .content-cont .circ-cont {
right: 43px;
top: 137px;
}
}
@media (max-width: 520px) {
 .menulist {
width:100%
}
 .ban-form {
/*width:95%;*/
margin:0 auto
}
.container .inner-cont.btm.prof-cont {
width:95%
}
 .container .inner-cont {
width: 95%;
margin: 20px auto;
padding: 10px;
border:1px solid #01c700;
border-radius: 4px;
}
 .prof-reg .ryt .fieldset.span2 {
margin-top:0px
}
 .prof-cont .prof-reg .top-div .ryt .fieldset.span2 .lft, .prof-cont .prof-reg .bottom-div .fieldset.span2 .lft, .ryt.sub {
width:100% !important;
}
 .prof-cont .prof-reg .top-div .ryt .fieldset.span2 .ryt, .prof-cont .prof-reg .bottom-div .fieldset.span2 .ryt {
width:100%;
}
 .lft.select-sm .btn-group.bootstrap-select {
width:100% !important;
}
 .ryt.select-sm .btn-group.bootstrap-select {
width:100% !important;
}
 .prof-reg .fieldset textarea {
width:100%;
}
 .btns3 .btn.btn-success.back-btn {
float: left;
/*width: 100%;*/
margin-bottom:20px;
}
 .btns3 .btn.btn-success {
float: left;
/*margin-top: 20px;
width: 100% !important;*/
}
 .btns3 .btn.btn-default {
float: left;
/*margin-top: 20px;
width: 100% !important;*/
}
 .col-md-5.crgvr-ryt.no-padding.pull-left {
width: 100%;
}
 .crgvr-ryt .btn-group.bootstrap-select {
width: 100% !important;
}
 .crgvr-ryt button.btn.btn-danger.back-btn {
width: 100%;
}
 .caregiver-routine .pat-desc ul li {
width:40%;
}
 .caregiver-routine .pat-desc ul {
width:100%;
}
 .caregiver-routine .pat-desc ul li {
width:30%;
margin-right:0 !important;
}
 .col-md-4.col-sm-4.col-xsm-4.drug-name {
float: left;
width: 50%;
}
 .col-md-4.col-sm-4.col-xsm-4.drug-residual {
float: left;
width: 50%;
}
 .caregiver-routine .midsd .content-cont.nw-evnt.drugs button.btn.btn-danger.back-btn {
border-radius: 0;
width: 100%;
float:left;
}
 .caregiver-routine .midsd .content-cont.nw-evnt.drugs .add-drug .srch-btn button.btn.btn-success {
width: 100%;
}
 .btn-cont .btn.btn-danger.back-btn {
float: left;
width: 100%;
}
 .new-activity-cont .col-lg-2.lbl {
float: left;
text-align: center;
width: 100%;
}
 .new-activity-cont .col-md-12.col-lg-12 .col-lg-2 label, .new-activity-cont .col-md-12.col-lg-12 .col-lg-1 label {
display: block;
margin-bottom: 20px;
text-align: center;
}
 .new-activity-cont .col-lg-7.inp {
float: left;
width: 100%;
}
 .new-activity-cont .col-lg-3.inp2 {
float: left;
width: 100%;
}
 .new-activity-cont .col-lg-6.hlp {
float: left;
width: 88%;
}
 .new-activity-cont .col-lg-7.inp-full {
float: left;
width: 100%;
}
 .new-activity-cont .col-lg-2.inp3 {
float: left;
width: 100%;
}
 .new-activity-cont .col-lg-4.inp-url {
float: right;
width: 86%;
}
 .prof-card-top h3 {
float: none;
/*font-size: 18px;*/
}
 .prof-card-top .doc-det h4 {
font-size: 15px;
}
 .col-md-5.time-table.no-padding.pull-right {
width:65%;
}
 .btn.btn-danger.dlt-btn {
float: left;
width: 100%;
}
 .report .col-md-5.pull-right.prd-cont {
width: 100%;
}
 .report .col-md-3.chkbox-cont {
float: none !important;
margin: auto;
width: 35%;
}
 .report .btn-cont {
padding:5px;
}
 .caregiver-routine .canvas-cont {
width:100%;
}
 .caregiver-routine .midsd .content-cont .circ-cont {
right: 39px;
top: 112px;
}
 .professional .param .new-evnt-cont .fieldset label {
width:100%;
text-align:center;
}
 .professional .new-evnt-cont .fieldset .btn-group.bootstrap-select {
width: 100% !important;
}
}
@media (max-width: 490px) {
 .caregiver-routine .content-cont {
/*min-height:450px*/
}
.login-hm-cont {
margin-top:0
}
.caregiver-routine .midsd .comment-cont {
margin: 0
}
 .fileinput.fileinput-new.mrg-20t {
margin:0
}
 .list-r {
width:75%
}
 .rem-me label, span.forgot-pass {
font-size:14px;
}
 .col-xxs-12 {
width:100%;
text-align:center
}
 .col-xxs-12 .pull-left, .col-xxs-12 .pull-right {
float:none !important
}
 .col-xxs-12 .pull-left {
margin-top:20px;
}
 .login-btn .btn {
float:none
}
 .inner-cont.top label, .inner-cont .reg2-select label {
float:left
}
 .prof-cont .prof-reg .top-div .lft {
float: none;
width: 100%;
margin: 0 auto;
}
	/*.caregiver-routine .midsd .content-cont .circ-cont {position: relative; right: 0; top: 0;}*/
	.caregiver-routine .midsd .content-cont .circ-cont .date-time span.dt {
font-size:15px;
}
 .caregiver-routine .midsd .content-cont .circ-cont .date-time span.time {
font-size:36px;
}
 .caregiver-routine .midsd .content-cont .circ-cont .schedule-cont {
margin-top:2px;
}
}
@media (max-width:460px) {
 .inner-cont .form-inn-cont, .inner-cont .form-inn-cont2 {
width: 98%;
}
 .caregiver-routine .midsd .content-cont .circ-cont {
right: 30px;
top: 90px;
}
 .col-lg-4.col-md-4.pull-left.user-profile {
left:-35px;
}
}
@media (max-width: 450px) {
.btm-btns .btn {
margin-bottom:10px;
margin-right:0
}
 .nmber span.badge {
font-size: 12px;
height: 25px;
width: 25px;
}
 .nmber span.txt {
font-size: 14px;
}
 .caregiver-routine .pat-desc ul li {
margin-bottom: 30px;
margin-right: 24px;
}
 .col-md-5.time-table.no-padding.pull-right {
width:75%;
}
 .report .col-md-3.chkbox-cont {
width:50%;
}
 .caregiver-routine .midsd .content-cont .circ-cont .date-time span.dt {
font-size:15px;
}
.caregiver-routine .midsd .comment-cont {
margin:0 0 10px
}
.login-hm-cont {
margin-top:0
}
 .caregiver-routine .midsd .content-cont .circ-cont .date-time span.time {
font-size:24px;
}
.caregiver-routine .midsd .content-cont .circ-cont .date-cont {
margin: 10px auto 5px;
}
 .caregiver-routine .midsd .content-cont .circ-cont .schedule-cont {
font-size:12px;
}
}
@media (max-width: 420px) {
.fulllist.owner .fileinput.fileinput-new {
width:100% !important;
margin:0
}
.fulllist.owner .thumbnail {
width:100%;
height:220px;

margin:auto;
margin-bottom:0;
}
.fileinput.fileinput-new .thumbnail > img {
width:100% !important
}
 span.forgot-pass {
text-align: center;
margin: 0px auto 10px;
display: inline-block;
}
 .btm-btns .btn {
margin-bottom:10px;
margin-right:0;
}
 .ban-form h2 {
/*font-size:16px;*/
}
 .col-lg-4.col-md-4.pull-right.logo-cont img {
width: 100%;
}
 .form-cont p {
text-align:center;
}
 .col-md-7.pull-left.rem-me {
text-align: center;
width: 100%;
}
.pull-left.rem-me {
float:none !important;
}
 .form-cont .login-btn {
margin-top: 10px;
text-align: center;
width: 100%;
}
 .pull-right.login-btn {
float: none !important;
text-align: center;
margin-top:30px;
}
 .login-btn button {
 padding-left: 20px;
padding-right: 20px;
}
 .inner-cont .reg2-select label {
font-size:14px;
}
 .col-md-5.pull-left.btn.no-padding img {
/*width: 100%;*/
}
 .success-cont p {
font-size:18px;
}
 .success-cont span.green-txt {
font-size:20px;
}
 .frm-cont .btn .btn.btn-default, .form-inn-cont .btn .btn.btn-default, .form-inn-cont2 .btn .btn.btn-default {
/*width:100%;*/
}
 .frm-cont .btn .btn.btn-success, .form-inn-cont .btn .btn.btn-success, .form-inn-cont2 .btn .btn.btn-success {
/*width:100% !important;
float:left;
margin-top:10px;*/
}
 .top-div .fileinput.fileinput-new.fat {
width: 78%;
margin: 0 10%;
float: none;
}
 .prof-reg .top-div .fileinput-new.thumbnail {
width: 100% !important;
}
 .prof-reg .top-div .fileinput-new.thumbnail > img {
width: 100%;
}
 .prof-reg .bottom-div h3 {
text-align: center;
width: 100%;
}
 .success-cont a.btn.btn-success {
font-size:16px;
line-height:30px;
}
 .col-lg-4.col-md-4.pull-left.user-profile {
margin-left:20px;
}
 .user-img.pull-left {
margin-left:28%;
}
 .user-name.pull-left {
width:100%;
margin-top:10%;
}
 .upgrd-lic .btn-success {
width:100%;
margin-bottom:20px;
}
 .patient-data .nmber > p {
text-align: center;
}
 .patient-data .nmber span.txt {
font-size: 26px;
text-align: center;
}
 .patient-data .nmber p span.ryt {
float: right;
margin-top: 10px;
text-align: center;
width: 100%;
}
 .crgvr-lft .fieldset > label {
float: left;
text-align: left;
width: 100%;
}
 .crgvr-lft input[type="text"], .crgvr-lft input[type="email"] {
width:100%;
}
 .crgvr-lft .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
width: 100% !important;
}
 .crgvr-ryt .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
width: 100% !important;
}
 .crgvr-lft .fieldset {
width:100%;
}
 .mid-btm .frm-cont .col-md-5.pull-left.btn.no-padding {
width: 100%;
}
 .frm-cont .btn .btn.btn-default, .form-inn-cont .btn .btn.btn-default, .form-inn-cont2 .btn .btn.btn-default {
/*float: left;
margin-top: 10px;*/
 text-align:center;
/*line-height:28px;width: 100%;*/
}
 .frm-cont .btn .btn.btn-success, .form-inn-cont .btn .btn.btn-success, .form-inn-cont2 .btn .btn.btn-success {
text-align:center;
}
 .midsd .btns-cont button.btn.btn-success {
width:100%;
}
 .menu-btn.active {
width:28%;
}
 .new-evnt-cont .fieldset label {
width:100%;
text-align:center;
}
 .new-evnt-cont .fieldset .btn-group.bootstrap-select {
width:100% !important;
}
 .content-cont.nw-evnt.drugs {
border: 0 none;
}
 .maint-cont ul li img {
width:100%;
}
 span.maint-txt {
width:100%;
text-align:center;
}
 .diet-cont button.btn.btn-success.back-btn {
margin-bottom:0;
}
 .table-cont {
position: relative;
right: 10px;
}
 .edit-profile {
position: relative;
text-align: center;
top: -62px;
width: 75%;
}
 .new-activity-cont .col-lg-4.inp-url {
float: right;
width: 80%;
}
 .patient-data-ryt .btn.btn-success {
margin-bottom: 20px;
margin-top: 20px;
width: 100%;
}
 .patient-data-ryt .btn.btn-danger.back-btn {
margin-bottom: 20px;
margin-top: 20px;
width: 100%;
}
 .patient-data .btns3 .btn.btn-success {
margin-bottom: 20px;
}
 .prof-card-top .img-thumb {
width:100%;
margin-right:0;
margin-bottom:20px;
}
 .prof-card-top h3 {
text-align:center;
}
 .prof-card-top .doc-det h4, .prof-card-top .doc-det p {
text-align:center;
}
 .col-md-5.time-table.no-padding.pull-right {
width:100%;
}
 .add-to-nw .btn.btn-success {
width: 100%;
}
 .view-area .btn.btn-success {
width: 100%;
}
 .report .tabs-cont .nav-tabs > li a {
font-size:11px;
padding:6px;
}
 .report ul.nav-tabs {
margin-left:10px !important;
}
 .report .table-cont {
right:0;
}
 .report .table > tbody > tr > td {
font-size:11px;
}
 .report .srch-btn {
float: left;
width: 100%;
}
 .report .srch-btn .btn.btn-success {
width: 100%;
margin-top:20px;
}
 .caregiver-routine .midsd .content-cont .circ-cont {
 top: 76px;
}
 .caregiver-routine .midsd .comment-cont textarea {
width:100%;
}
 .col-lg-4.col-md-4.pull-left.user-profile {
left:0px;
}
 .professional .map ul.nav-tabs {
margin-left:0;
}
 .professional .col-md-9.table-cont {
right:0;
}
}
@media (max-width: 400px) {
 .nmber p span.ryt {
margin:0
}
 .activity-cont .table-cont {
position: relative;
right: 30px;
}
 .caregiver-routine .midsd .content-cont .circ-cont {
/*position: relative;
right: 0;*/
top: 30px;
}
}
@media (max-width: 375px) {
 .table-cont table {
left: -15px;
position: relative;
}
 .activity-cont .table-cont {
position: relative;
right: 25px;
}
 .new-activity-cont .col-lg-6.hlp {
float: left;
width: 82%;
}
 .new-activity-cont .col-lg-4.inp-url {
float: right;
width: 76%;
}
 .report .table-cont {
right: -15px;
}
 .professional .col-md-9.table-cont {
right: -16px;
}
 .professional .nav-tabs > li {
width:100%;
}
}
@media (max-width: 360px) {
 .nmber span.badge {
margin-right:5px;
}
 .nmber span.txt {
font-size: 18px;
vertical-align: middle;
}
 .caregiver-routine .pat-desc ul li {
margin-bottom: 30px;
width: 100%;
}
 .col-md-4.col-sm-4.col-xsm-4.drug-name {
float: left;
width: 100%;
}
 .col-md-4.col-sm-4.col-xsm-4.drug-residual {
float: left;
width: 100%;
}
 .caregiver-routine .midsd .content-cont.nw-evnt.drugs .drug-residual p {
text-align:center;
}
 .table-cont table {
left: -24px;
position: relative;
}
 .time-table table {
left:0;
}
 .prof-card-top .time-table td.day {
width:20%;
}
 .prof-card-top .time-table td.time {
width:38%;
}
 .report .table-cont {
right: -25px;
}
 .caregiver-routine .midsd .content-cont .circ-cont .lst-btn {
margin-bottom: 20px;
text-align: center;
width: 100%;
}
 .caregiver-routine .midsd .content-cont .circ-cont .date-time {
text-align: center;
width: 100%;
}
 .caregiver-routine .midsd .content-cont .circ-cont .nxt-btn {
margin-top: 20px;
text-align: center;
width: 100%;
}
 .caregiver-routine .midsd .content-cont .circ-cont .schedule-cont {
width:100%;
}
 .professional .col-md-9.table-cont {
right: -25px;
}
}
@media (max-width: 350px) {
 .report .table-cont {
right: -18px;
}
.report .tabs-cont div#myTabContent {
border:0;
}
.report {
border:0 !important;
}
.report .col-md-3.chkbox-cont {
width:100%;
}
}
@media (max-width:345px) {
 .width-15 {
display:none
}
}
@media (max-width: 320px) {
 span.usrname {
width:100%;
margin-bottom:20px;
}
 .user-name button.btn.btn-success {
width:100%;
}
 .col-lg-4.col-md-4.pull-left.user-profile {
float: left !important;
margin: 0 !important;
padding: 0 !important;
width: 100% !important;
}
 .user-name.pull-left {
padding: 0;
width: 100% !important;
}
 .drug-tab-btm ul li span.txt {
font-size: 15px;
width: 65%;
line-height:normal;
}
 .edit-profile {
top:-114px;
}
 .new-activity-cont .col-lg-4.inp-url {
float: right;
width: 100%;
}
 .new-activity-cont .col-lg-1.lbl2 {
float: left;
width: 100%;
}
}
 @media (min-width:240px) {
 .navbar-header .frm-cont textarea, .navbar-header input[type="text"], .navbar-header input[type="email"], .navbar-header input[type="password"] {
height:35px;
}
}


/* Fonts */
 /* Smartphones (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
 h1, h2, h3, h4, h5, h6 {
 font-size: 100%;
}
.fileinput.fileinput-new {
width:100% !important
}
}
    /* Smartphones (landscape) -----------
    @media only screen and (min-width : 321px) {
 h1, h2, h3, h4, h5, h6 {
 font-size: 110%;
}
} */
    /* Smartphones (portrait) ----------- */
    @media only screen and (min-width : 240px) and ( max-width : 640px) {
 h1, h2, h3, h4, h5, h6 {
 font-size: 100%;
font-weight:400 !important;
}
}

   /* Smartphones (portrait) ----------- */
    @media only screen and (min-width : 641px) and ( max-width : 768px) {
 h1, h2, h3, h4, h5, h6, .tophdr.small {
 font-size: 100%;
font-weight:400 !important;
}
}
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
 h1, h2, h3, h4, h5, h6, .tophdr.small {
 font-size: 140%;
}
}
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
 h1, h2, h3, h4, h5, h6, .tophdr.small {
 font-size: 160%;
}
}
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
 h1, h2, h3, h4, h5, h6, .tophdr.small {
 font-size: 160%;
}
}
    /* Desktops and laptops ----------- */
    @media only screen and (min-width : 1224px) {
 h1, h2, h3, h4, h5, h6, .tophdr small {
 font-size: 166%;
}
}
    /* Large screens ----------- */
    @media only screen and (min-width : 1824px) {
 h1, h2, h3, h4, h5, h6, .tophdr.small {
 font-size: 200%;
}
}
    /* iPhone 4 ----------- */
    @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
 h1, h2, h3, h4, h5, h6, .tophdr.small {
 font-size: 190%;
}
}
/* images */

 .helpicon { margin-right:-5px }
.helpicon:focus, .helpicon:hover { background-color: #18a801; }
.helpicon:blur, .helpicon:hover {
background-color: transparent;
}
.navbar .img:focus, .navbar .img:hover { background-color: #18a801; }
.navbar .img:blur, .navbar .img:hover {
background-color: transparent;
}






/* Desktops and laptops ----------- */
    @media only screen and (min-width : 1224px) {
 .bodywrap2 {
padding:48px 0 0px
}
.navbar {
height:48px;
}
.logo {
line-height:48px;
}
.navbar .pull-left, .navbar .pull-right {
line-height:48px;
}
.lrgtxt p {
font-size:16px
}
h3.tophdr, h3.tophdr.small {
text-align:center;
line-height:48px;
}
}
 
    /* Large screens ----------- */
    @media only screen and (min-width : 1824px) {
 .bodywrap2 {
padding:48px 0 0px
}
.navbar {
height:48px;
}
.logo {
line-height:48px;
}
.navbar .pull-left, .navbar .pull-right {
line-height:48px;
}
.lrgtxt p {
font-size:16px
}
h3.tophdr, h3.tophdr.small {
text-align:center;
line-height:48px;
}
/*.helpicon img {   width:48%; }.arrow-l img{ width:80%}
.searchicon img{ width:80%}*/
}
 
    /* old Smartphones (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
 .bodywrap2 {
padding:48px 0 0px
}
.navbar {
height:48px;
}
.logo {
line-height:48px;
}
.navbar .pull-left, .navbar .pull-right {
line-height:48px;
}
.lrgtxt p {
font-size:16px
}
h3.tophdr, h3.tophdr.small {
text-align:center;
line-height:48px;
}
.helpicon img, .searchicon img {
width:48px;
height:48px;
}
.arrow-l img {
width:48px;
height:48px;
}
}
 
    /* old Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
 .bodywrap2 {
padding:48px 0 0px
}
.navbar {
height:48px;
}
.logo {
line-height:47px;
}
.navbar .pull-left {
line-height:47px;
}
.navbar .pull-right {
line-height:47px;
}
.lrgtxt p {
font-size:16px
}
h3.tophdr{ font-size:18px;}
h3.tophdr, h3.tophdr.small {
text-align:center;
line-height:48px;
}
.helpicon img, .searchicon img {
width:48px;
height:48px;
}
.arrow-l img {
width:48px;
height:48px;
}
}
 
    /* old Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
.bodywrap2 {
padding:48px 0 0px
}
.navbar {
height:48px;
}
.logo {
line-height:48px;
}
.navbar .pull-left, .navbar .pull-right {
line-height:48px;
}
.lrgtxt p {
font-size:16px
}
h3.tophdr, h3.tophdr.small {
text-align:center;
line-height:48px;
}
 .helpicon img, .searchicon img {
width:48px;
height:48px;
}
.arrow-l img {
width:48px;
height:48px;
}
}
 
    /* iPhone 4 ----------- */
    @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
 .bodywrap2 {
padding:48px 0 0px
}
.navbar {
height:48px;
}
.logo {
line-height:48px;
}
.navbar .pull-left, .navbar .pull-right {
line-height:48px;
}
.lrgtxt p {
font-size:16px
}
h3.tophdr, h3.tophdr.small {
text-align:center;
line-height:48px;
}
 .helpicon img, .searchicon img {
width:48px;
height:48px;
}
.arrow-l img {
width:48px;
height:48px;
}
}
 
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
 .bodywrap2 {
padding:48px 0 0px
}
.navbar {
height:48px;
}
.logo {
line-height:48px;
}
.navbar .pull-left, .navbar .pull-right {
line-height:48px;
}
.lrgtxt p {
font-size:16px
}
h3.tophdr, h3.tophdr.small {
text-align:center;
line-height:48px;
}
 .helpicon img, .searchicon img {
width:48px;
height:48px;
}
.arrow-l img {
width:48px;
height:48px;
}
}
 
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
.bodywrap2 {
padding:48px 0 0px
}
.navbar {
height:48px;
}
.logo {
line-height:48px;
}
.navbar .pull-left, .navbar .pull-right {
line-height:48px;
}
.lrgtxt p {
font-size:16px
}
h3.tophdr, h3.tophdr.small {
text-align:center;
line-height:48px;
}
 .helpicon img, .searchicon img {
width:48px;
height:48px;
}
.arrow-l img {
width:48px;
height:48px;
}
}
 
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
.bodywrap2 {
padding:48px 0 0px
}
.navbar {
height:48px;
}
.logo {
line-height:48px;
}
.navbar .pull-left, .navbar .pull-right {
line-height:48px;
}
.lrgtxt p {
font-size:16px
}
h3.tophdr, h3.tophdr.small {
text-align:center;
line-height:48px;
}
 .helpicon img, .searchicon img {
width:48px;
height:48px;
}
.arrow-l img {
width:48px;
height:48px;
}
}
 @media (min-width: 720px) {
 .top-div .ryt.sub .fieldset.span2 .lft, .top-div .ryt.sub .fieldset.span2 .ryt {
width:100% !important
}
 .ryt.sub {
width: 100%
}
}
 @media only screen (min-device-width:521px) and (max-device-width:719px) {
.top-div .ryt.sub .fieldset.span2 .lft, .top-div .ryt.sub .fieldset.span2 .ryt {
width:48% !important
}
 .prof-cont .prof-reg .top-div .lft.mrg-20b {
width:100%;
text-align:center
}
.prof-reg .top-div .ryt.sub {
float:left width:100%;
}
}
@media only screen (min-device-width:481px) and (max-device-width:520px) {
 .prof-cont .prof-reg .top-div .lft.mrg-20b {
width:100%;
text-align:center
}
.prof-reg .top-div .ryt.sub {
float:left width:100%;
}
 .top-div .ryt.sub .fieldset.span2 .lft, .top-div .ryt.sub .fieldset.span2 .ryt {
width:100% !important;
float:left !important
}
}

 
    /* Android Tablet (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 800px) and (max-device-width : 1280px) {
 .bodywrap2 {
padding:48px 0 0px
}
.navbar {
height:48px;
}
.logo {
line-height:48px;
}
.navbar .pull-left, .navbar .pull-right {
line-height:48px;
}
.lrgtxt p {
font-size:16px
}
h3.tophdr, h3.tophdr.small {
text-align:center;
line-height:48px;
}
 .helpicon img, .searchicon img {
width:48px;
height:48px;
}
.arrow-l img {
width:48px;
height:48px;
}
 .helpicon, .searchicon {
width:60px
}
 .helpicon img, .searchicon img {
width:60px;
height:56px;
vertical-align:top
}
.arrow-l img {
width:60px;
height:56px;
vertical-align:top
}
 .navbar-header .input-group {
margin: 10px 0 0;
}
}
 
    /* Android Tablet (landscape) ----------- */
    @media only screen and (min-device-width : 800px) and (max-device-width : 1280px) and (orientation : landscape) {
 .bodywrap2 {
padding:56px 0 0px
}
.navbar {
height:56px;
}
.logo {
line-height:56px;
}
.navbar .pull-left, .navbar .pull-right {
line-height:56px;
}
.lrgtxt p {
font-size:16px
}
h3.tophdr, h3.tophdr.small {
text-align:center;
line-height:56px;
}
.helpicon, .searchicon {
width:60px
}
 .helpicon img, .searchicon img {
width:60px;
height:56px;
vertical-align:top
}
.arrow-l img {
width:60px;
height:56px;
vertical-align:top
}
 .navbar-header .input-group {
margin: 10px 0 0;
}
}
 
    /* Android Tablet (portrait) ----------- */
    @media only screen and (min-device-width : 800px) and (max-device-width : 1280px) and (orientation : portrait) {
 .bodywrap2 {
padding:56px 0 0px
}
.navbar {
height:56px;
}
.logo {
line-height:56px;
}
.navbar .pull-left, .navbar .pull-right {
line-height:56px;
}
.lrgtxt p {
font-size:16px
}
h3.tophdr, h3.tophdr.small {
text-align:center;
line-height:56px;
}
.helpicon, .searchicon {
width:60px
}
 .helpicon img, .searchicon img {
width:60px;
height:56px;
vertical-align:top
}
.arrow-l img {
width:60px;
height:56px;
vertical-align:top
}
 .navbar-header .input-group {
margin: 10px 0 0;
}
}
 
    /* Desire + Galaxy S2 (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 480px) and (max-device-width : 800px) {
 .bodywrap2 {
padding:56px 0 0px
}
.navbar {
height:56px;
}
.logo {
line-height:56px;
}
.navbar .pull-left, .navbar .pull-right {
line-height:56px;
}
.lrgtxt p {
font-size:16px
}
h3.tophdr, h3.tophdr.small {
text-align:center;
line-height:56px;
}
}
 
    /* Desire + Galaxy S2 (landscape) ----------- */
    @media only screen and (min-device-width : 480px) and (max-device-width : 800px) and (orientation : landscape) {
 .bodywrap2 {
padding:56px 0 0px
}
.navbar {
height:56px;
line-height:54px;
}
.logo {
line-height:54px;
}
.navbar .pull-left, .navbar .pull-right {
line-height:54px;
}
.lrgtxt p {
font-size:16px
}
h3.tophdr, h3.tophdr.small {
text-align:center;
line-height:54px;
}
.helpicon, .searchicon {
width:60px
}
 .helpicon img, .searchicon img {
width:60px;
height:56px;
vertical-align:top
}
.arrow-l img {
width:60px;
height:56px;
vertical-align:top
}
 .navbar-header .input-group {
margin: 10px 0 0;
}
}
 
    /* Desire + Galaxy S2 (portrait) ----------- */
@media only screen and (min-device-width : 480px) and (max-device-width : 800px) and (orientation : portrait) {
 .bodywrap2 {
padding:48px 0 0px
}
.navbar {
height:48px;
}
.logo {
line-height:48px;
}
.navbar .pull-left, .navbar .pull-right {
line-height:48px;
}
.lrgtxt p {
font-size:16px
}
h3.tophdr, h3.tophdr.small {
text-align:center;
line-height:48px;
}
 .helpicon img, .searchicon img {
width:48px;
height:48px;
}
.arrow-l img {
width:48px;
height:48px;
}
}


 /* high resolution screens */
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 300dpi) {
.helpicon img, .searchicon img {
width:120%;
vertical-align:top;
}
.arrow-l img {
width:120%;
vertical-align:top;
}
.header {
position:fixed
}
}

/* low resolution screens */
@media (-webkit-max-device-pixel-ratio: 1.5), (max--moz-device-pixel-ratio: 1.5), (max-resolution: 299dpi) {
 .logo {
line-height:48px;
}
.helpicon img, .searchicon img {
width:100%;
vertical-align:top;
}
.arrow-l img {
width:100%;
vertical-align:top;
}
.header {
position:fixed
}
.input-group-addon, .input-group-btn {
vertical-align: middle;
}
}


 [class^="icon-"]:before, [class*=" icon-"]:before {
 font-family: FontAwesome;
 font-weight: normal;
 font-style: normal;
 display: inline-block;
 text-decoration: inherit;
}


@media (max-width:420px) {
.prof-reg .top-div span.btn.btn-success.btn-file {
min-width:100%;
}
}
